html
  head
    title #{username} exercises | Exercise Tracker
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    link(rel='shortcut icon', href='https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/style.css')
  body
    div(class='container')
      h1 #{username}'s exercises
      form(action='/api/exercise/add', method='post', id='addExerciseForm')
        h3(class='form-title') Add exercise
        input(id='uid', type='hidden', name='userId', value=uid)
        input(id='uid', type='hidden', name='username', value=username)
        input(id='des', type='text', name='description', placeholder='description', required)
        input(id='dur', type='number', name='duration', placeholder='duration (mins)', required)
        input(id='date', type='date', name='date', placeholder='date (yyyy-mm-dd)')
        div(id='errorDiv')
        button(type='submit') Add
      section(id='exercises-container')
        ul(class='card-group')
          if data.log.length > 0
            each val in data.log
              li
                div(class='card')
                  h5(class='card-date')= val.date
                  div(class='card-description')
                    span(class='name')= val.description
                    span(class='duration')= `${val.duration} ${(val.duration > 1) ? 'mins' : 'min'}`
          else
            li There are no exercises
    script.
      const form = document.querySelector('#addExerciseForm')
      const errorDiv = document.querySelector('#errorDiv')

      form.addEventListener('submit', (e) => {
        e.preventDefault()
        errorDiv.textContent = ''

        let data = {}
        const formData = new FormData(form)
        for(let key of formData.keys()) {
          data[key] = formData.get(key)
        }

        console.log(data)

        fetch('/api/exercise/add', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json;charset=utf-8'
          },
          body: JSON.stringify(data)
        })
          .then(res => {
            if(!res.ok) throw new Error('It was not possible to finish your request. Please try later')
            return res.json()
          })
          .then(data => {
            form.reset()
            const list = document.querySelector('#exercises-container > ul')
            if(list.firstChild.textContent === 'There are no exercises')
              list.firstChild.remove()
            list.append(newExerciseCard(data))
          })
          .catch(err => {
            errorDiv.textContent = err.message
          })
      })

      function newExerciseCard(data) {
        const li = document.createElement('li')
        li.innerHTML = `
          <div class="card">
            <h5 class="card-date">${data.date}</h5>
            <div class="card-description">
              <span class="name">${data.description}</span>
              <span class="duration">${data.duration} ${(data.duration > 1) ? 'mins' : 'min'}</span>
            </div>
          </div>
        `
        return li
      }